extends layout

block content

  if readings.length
    table.listing-table.table-dark.table-striped
      tr
        th Value
        th Date
      each reading in readings
        tr
          td= reading.value
          td= reading.date
  else
    p No Data yet :(
